body {
    background-color: rgb(20,20,20);
    color: rgb(200,200,200);
}
div#sidebar {
    position: fixed;
    height: 100%;
    width: 25%;
    padding: 10px;

    border-right: 2px solid rgb(200,200,200);
}
form#add-item-form {
    border: 2px solid rgb(200,200,200);
}
button#add-item {
    width: 60%;
    margin-left: 20%;
    background-color: rgb(207,121,8);
    border-radius: 5%;
    border-color: transparent;
}
div#item-list {
    text-align: center;
    padding-left: 25%;
}