body {
    background-color: #262421;
    color: rgb(200,200,200);
    font-family: 'Poppins', sans-serif;
}
img#mobile-toggle {
    width: 30px;
    height: 30px;
    background-color: rgb(207,121,8);
    border-radius: 10%;
    padding: 5px;

    display: none;
}
div#translucent {
    position: fixed;
    display: none;

    width: 100%;
    height: 100%;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0, 0.5);

}
.hidden {
    display: none;
}
.visible {
    display: block;
}
div#sidebar {
    position: fixed;
    height: 100%;
    width: 25%;
    padding: 10px;

    border-right: 2px solid rgb(200,200,200);
}
h2#sidebar-title {
    text-align: center;
}
form#add-item-form {
    border: 2px solid rgb(200,200,200);
    min-width: 150px;

    display: flex;
    flex-direction: column;
}
div.form-item {
    margin: 10px auto;

}
input, button {
    max-width: 130px;
}
textarea#add-desc {
    min-height: 50px;
    max-width: 130px;
}
button#add-item {
    width: 50%;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: rgb(207,121,8);
    border-radius: 5%;
    border-color: transparent;
}
div#item-list {
    text-align: center;
    margin-left: 30%;
    margin-right: 3%;
}
div.item {
    background-color: #4d4d4d;
}
button.complete {
    background-color: rgb(207,121,8);
    border-color: transparent;
    margin-bottom: 5px;
}
@media (max-width: 625px) {
    div#sidebar {
        border: none;
        left: 50%;
        top: 35%;
        margin-left: -75px;
        margin-top: -85px;
        height: auto;
    }
    img#mobile-toggle {
        display: block;
    }
    div#item-list {
        margin-left: 3%;
    }
}