body {
    background-color: #262421;
    color: rgb(200,200,200);
}
div#sidebar {
    position: fixed;
    height: 100%;
    width: 25%;
    padding: 10px;

    border-right: 2px solid rgb(200,200,200);
}
h2#sidebar-title {
    text-align: center;
}
form#add-item-form {
    border: 2px solid rgb(200,200,200);

    display: flex;
    flex-direction: column;
}
div.form-item {
    margin: auto;
}
button#add-item {
    width: 50%;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: rgb(207,121,8);
    border-radius: 5%;
    border-color: transparent;
}
div#item-list {
    text-align: center;
    margin-left: 30%;
    margin-right: 3%;
}
div.item {
    background-color: #4d4d4d;
}
button.complete {
    background-color: rgb(207,121,8);
    border-color: transparent;
    margin-bottom: 5px;
}